.App {
  text-align: center;
}

/*?  обращаемся к инпуту и говорим если ты нажат то следующему элементу сделай вот это. в данном случае перечёркиваем следующий элемент */
input:checked + span {
  text-decoration: line-through;
}
